.notice {
    border-radius: 13px;
    background: linear-gradient(180deg, #ffaec2 -50%, rgba(0,0,0,0) 100%);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
.notice .close {
    cursor: pointer;
}
.visible {
    opacity: 1;
}