.dialog {
    position: fixed;
    min-width: 320px;
    max-width: 520px;
    width: 80%;
    background-color: #ffffff;
    border: 0;
    border-radius: 2px;
    padding: 20px;
    padding-top: 0;
    overflow-y: auto;
    z-index: 999;
}
.dialog .close {
    width: min-content;
    top: 10px;
    position: sticky;
    margin-left: auto;
    padding: 8px;
    box-sizing: content-box;
    margin-bottom: 10px;
    cursor: pointer;
}
.dialog .close:after {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background-color: black;
    clip-path: polygon(10% 0, 0 10%, 40% 50%, 0 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0, 50% 40%);
}
