body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: Verdana;
  font-size: 15px;
}
.fx {
  display: flex;
  align-items: baseline;
}
.gap {
  gap: 10px;
}
ul {
  padding: 0;
  margin: 20px 0;
}
section {
  padding: 26px;
  box-sizing: border-box;
  background-color: #101010;
  margin-bottom: 5px;
}
button {
  font-family: Verdana;
  border: 0;
  padding: 10px 20px;
  width: max-content;
  background-color: transparent;
  font-size: inherit;
  color: white;
  cursor: pointer;
}
p {
  flex: 1;
}
.wallpaper {
  height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  padding-top: clamp(5px, 2vh, 30px);
  box-sizing: border-box;
}

#header {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
#header:empty {
  display: none;
}
.start {
  max-height: calc(100vh - 26px);
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
}
.logit_mini {
  width: 100px;
  margin: 0 auto;
}
.logit {
  width: 100px;
  margin: 0 auto;
  opacity: .3;
}

.btn {
  background-color: #cccccc;
  color: #101010;
  margin-top: 26px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.readings {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.group2 {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.controls {
  display: flex;
  justify-content: flex-end;
}
.items li {
  marker: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  border-bottom: 1px solid #222;
}
.items li:first-child {
  background-color: #222;
  border: 0;
  color: white;
  font-weight: bold;
}
.items li:first-child span {
  padding: 10px 8px;
}

.items li:not(:first-child):hover {
  background-color: #222;
  color: white;
}
.items li span {
  padding: 8px;
  overflow-wrap: break-word;

}